
html, body {
    padding: 0;
    margin: 0;
}

body {
    padding: 2vmin;

    background-color: #1e1e1e;

    color: white;
    font-size: 3vmin;
}

div {
    box-sizing: border-box;
}

.drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vw;

    padding: 2vmin;
    border: 2px dashed lime;
    border-radius: 2vmin;

    background-color: #222;
    transition: background-color 0.1s;
}

.drop-zone:hover {
    background-color: #333;
}
