
html, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 20px;
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
}

main {
}

.something-root {
    --something-font-size: 20px;

    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    line-height: 1;
}

.something-root .something-title {
    font-size: var(--something-font-size);
}

.something-root .something-text {
    font-size: var(--something-font-size);
}
