
html, body {
    padding: 0;
    margin: 0;
}

body {
    padding: 2vmin;

    background-color: #1e1e1e;

    color: white;
    font-size: 3vmin;
}

div {
    box-sizing: border-box;
}

.panel {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 25vw;

    padding: 2vmin;
    margin-bottom: 3vmin;
    border: 2px dashed lime;
    border-radius: 2vmin;

    background-color: #222;
    transition: background-color 0.1s;
}

.panel-show {
    background-color: #333;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15vw;
    height: 15vw;
    border: 0.75vmin solid darkcyan;
    background-color: darkblue;
    font-size: 4vmin;

    cursor: move;
}

#collection {
    display: flex;
    justify-content: space-between;

    margin: 5vmin 0;
}
