<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index from templ</title>

        <style media="screen">
            html, body {
                background-color: #1e1e1e;
                color: white;
                font-family: fantasy;
            }

            body {
                margin: 50px;
            }
        </style>
    </head>
    <body>
        <h1>This is a template index</h1>
        <hr>
        <p>WELCOME !</p>
    </body>
</html>
