.a {
    background-color: red;
}

.b {
    background-color: green;
}

.c {
    background-color: blue;
}

.d {
    background-color: rgb(255, 255, 0);
}

.e {
    background-color: rgb(255, 0, 255);
}

.f {
    background-color: rgb(0, 255, 255);
}

.g {
    background-color: rgb(255, 125, 0);
}

.h {
    background-color: rgb(0, 100, 80);
}
