


html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
    color: white;
    padding: 5vmin;
    font-family: monospace;
}

code {
    border: 0.1vmin solid white;
    padding: 0 0.5vmin;
    background-color: #444;
}

.container {
    position: relative;
    box-sizing: border-box;
}

.container .inner-container {
    position: relative;
    height: calc(30vmin * 3 / 4);
    width: 30vmin;
    border: 1px solid lime;
    box-sizing: border-box;
}

.block {
    --size: 5vmin;
    box-sizing: border-box;
    background-color: #333;
    min-height: var(--size);
    min-width: var(--size);

    color: magenta;
    text-shadow:
        0 0 5px black,
        0 0 5px black,
        0 0 5px black,
        0 0 5px black;

    font-size: 4vmin;
    font-weight: bold;
    line-height: var(--size);
    text-align: center;
}
