

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
}
.container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.block {
    --size: 5vmin;
    box-sizing: border-box;
    margin: 0;
    background-color: #333;
    min-height: var(--size);
    min-width: var(--size);

    color: magenta;
    text-shadow:
        0 0 5px black,
        0 0 5px black,
        0 0 5px black,
        0 0 5px black;

    font-size: 2cm;
    font-weight: bold;
    text-align: center;
}

.block p {
    font-size: 3vmin;
    color: black;
    text-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}
