
/* TEST 1 */
.test1 {
    display: flex;
}

.test1 .a {
    width: 5cm;
}

.test1 .b {
    flex: 1;
}


/* TEST 2 */
.test2 {
    display: flex;
}

.test2 .a {
    width: 25%;
}

.test2 .b {
    width: 75%;
}


/* TEST 3 */
.test3 {
    display: flex;
    flex-flow: column;
}

.test3 .a {
    height: 5cm;
}

.test3 .b {
    flex: 1;
}


/* TEST 4 */
.test4 {
    display: flex;
    flex-flow: column;
}

.test4 .a {
    height: 25%;
    min-height: 3cm;
}

.test4 .b {
    height: 75%;
}


/* TEST 5 */
.test5 {
    width: 100vw;
}

.test5 .a {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20%;
}

.test5 .b {
    position: absolute;
    left: 20%;
    top: 0;
    width: 80%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.test5 .b .inner {
    margin: 0 5vmin 5vmin 5vmin;
}


.body-altered-1 {
    padding: 5vmin;
}

/* TEST 6 */
.test6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px solid lime;
}

.test6 .block {
    --size: 15vmax;
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
    line-height: var(--size);
}

@media (max-width: 30vmax) {
    .test6 .block {
        --size: 70vw;
    }
}

/* TEST 7 */
.test7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 5vmin;
    padding-right: 5vmin;
    border: 1px solid lime;
}

.test7 .block {
    --size: 15vmax;
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
    line-height: var(--size);
    margin-bottom: 5vmin;
    margin-left: 5vmin;
}

@media (max-width: 30vmax) {
    .test7 .block {
        --size: 70vw;
    }
}

/* TEST 8 */
.test8 {
    width: 100%;
    height: auto;
}

@media (orientation: landscape) {

    .test8 .a {
        background-color: turquoise;
        width: 30vmin;
        height: 40vmin;
    }
}

/* TEST 9 */
.test9 {
    width: 100%;
    height: auto;
}

@media (orientation: landscape) {
    .test9 .b {
        background-color: antiquewhite;
        width: 30vmin;
        height: 30vmin;
        border-radius: 50%;
    }
}

/* TEST XX */
.testXX {
}

.testXX .a {
}

.testXX .b {
}
